@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
*{
    font-family: 'Arvo';
}
.card{
    width:40px;
    height:80px;
    border: black 1px solid;
    border-radius: 5%;
}
.cards .card:hover{
    background-color: green;
    color:white;
}
.cards{
    display:inline-flex;
}
.current-cards{
    width: 400px;
    height:400px;
    position: relative;
margin: auto;
    border-radius: 50%;
}
.current-cards .card{
    position: absolute;
    top:50%;
    bottom:50%;
right: 50%;
left: 50%;
    margin: auto;
   

}
.current-cards .bid{
    width: 50px;
    position: absolute;
    left:50%;
    right:50%;
    margin:auto;
    top:50%;
    bottom:50%;

}

.current-cards .card:nth-child(1){
    transform: rotate(0deg) translate(100px);
}
.current-cards .card:nth-child(2){
    transform: rotate(60deg) translate(100px);
}
.current-cards .card:nth-child(3){
    transform: rotate(120deg) translate(100px);
}
.current-cards .card:nth-child(4){
    transform: rotate(180deg) translate(100px);
}
.current-cards .card:nth-child(5){
    transform: rotate(240deg) translate(100px);
}
.current-cards .card:nth-child(6){
    transform: rotate(300deg) translate(100px);
}
.current-cards .player:nth-child(7){
    transform: rotate(0deg) translate(140px);

}
.current-cards .player:nth-child(8){
    transform: rotate(60deg) translate(140px);

}
.current-cards .player:nth-child(9){
    transform: rotate(120deg) translate(140px);

}
.current-cards .player:nth-child(10){
    transform: rotate(180deg) translate(140px);

}
.current-cards .player:nth-child(11){
    transform: rotate(240deg) translate(140px);

}
.current-cards .player:nth-child(12){
    transform: rotate(300deg) translate(140px);

}
.bid-board{
    position: relative;
    text-align: center;
    width: 50%;
    margin: auto;
  border:1px black solid;
  border-radius: 5%;
}
.card-table{
    margin:auto;
    position: relative;
    border:1px black solid;
    width:400px;
    height:400px;
    border-radius: 50%;
    text-align: center;
}
#card-table-label{
    position: relative;
    margin:auto;

  font-size: xxx-large;
 
}
.playArea{
    text-align: center;
}
/* .chat-box{
    
} */